<footer id="foot">
    <div>
        <i class=" fas fa-user-check">Thakur Ayushkumar Brajesh</i> 
        </div>
        <div class="links">
            <a href="/">Home</a>
        </div>
        <div class="links">
            <a href="/user/profile">Profile</a>
        </div>
</footer>