header {
  background-color: red;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.3rem;
  display: flex;
  height: 5vh;
  margin-bottom: 5%;
  font-weight: bold;
  padding: auto;
  justify-content: space-between; }
  header a {
    text-decoration: none;
    color: white; }
  header #user-name {
    margin-top: 0.5%; }
