<html>
<head>
   

</head>

<body>

    <form action="/user/create" method="POST">
        <div>
          <input type="text" placeholder="Email" name="email" required>
          </div>
          <div>
          <input type="password" placeholder="Enter password" name="password" required>
          </div>
          <div>
            <input type="password" placeholder="Confirm password" name="confirm_password" required>
            </div>
          <div>
            <input type="text" placeholder="Name" name="name" required>
            </div>


          <button type="submit">Sign-Up</button>


    </form>
</body>



</html>